/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* CUSTOM CSS (ADD YOUR CSS HERE!) */
/*//////////////////////////////////////////////////////////////////////////////////////////*/



/*download page*/

*,
*::after,
*::before 
{
  box-sizing: border-box; 
}

html,
body 
{
    height: 100vh; 
}

body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    font-size: 1.6rem; 
}

.logo
{
    margin: 3rem auto 2rem auto;
    width: 5rem; 
    display: block;
}

.btn_title
{
    width: 20%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media only screen and (max-width: 800px) 
{
    .btn_title 
    {
        width: 50%;
    }
}

.div_btn
{
    margin-top: 1rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-content: center;
/*
    background-color: #2E76E8;
    cursor: pointer;
    padding: 1.5rem 9rem;
    border-radius: .5rem;
*/
}
@media only screen and (max-width: 1300px) 
{
    .div_btn 
    {
        width: 25%;
    }
}
@media only screen and (max-width: 1072px) 
{
    .div_btn 
    {
        width: 30%;
    }
}
@media only screen and (max-width: 822px) 
{
    .div_btn 
    {
        width: 40%;
    }
}
@media only screen and (max-width: 690px) 
{
    .div_btn 
    {
        width: 50%;
    }
}
@media only screen and (max-width: 540px) 
{
    .div_btn 
    {
        width: 60%;
    }
}
@media only screen and (max-width: 420px) 
{
    .div_btn 
    {
        width: 70%;
    }
}
@media only screen and (max-width: 370px) 
{
    .div_btn 
    {
        width: 80%;
    }
}

.btn_download
{
    text-decoration: none;
    background-color: #2E76E8;
    color: #FFFFFF;
    padding: 1.5rem 5rem;
    border-radius: .5rem;
    width: 100%;
    margin: .2rem 0 0 0;
    display: inline-block;
    text-align: center;
}

.img_download
{
    margin: 0 0 0 .5rem;
}
/*end download page*/